<section class="phx-hero">
    <h1>Play a round</h1>
    <a class="button" href="/play">Start</a>    
</section>

<%= if @conn.assigns.scores do %>
    <section class="phx-hero">
    <h1>Your word history: </h1>

    <%= for score <- @conn.assigns.scores do  %>
        <div class={"scorebox " <> if score.correct, do: "correct", else: "incorrect"}>
            <%= score.word %>                
        </div>
    <% end %>
    

    </section>
<% end %>

<%= render("top_lists.html") %>