<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=550, user-scalable=no"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "HardWordsEx", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <%= render "_user_menu.html", assigns %>
    <header>
      <section class="container">         
         <p>It's like <a target="_top" href="https://www.powerlanguage.co.uk/wordle/">Wordle</a>, but harder. Same rules. Same feedback. Same word lists.  No daily limit.</p>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
